[submodule "docs/transcriptions/lib"]
	path = docs/transcriptions/lib
	url = https://github.com/TST-Project/lib.git
[submodule "docs/lib"]
	path = docs/lib
	url = https://github.com/TST-Project/lib
[submodule "public/lib"]
	path = public/lib
	url = https://github.com/TST-Project/lib.git
[submodule "public/saktumiva"]
	path = public/saktumiva
	url = https://github.com/chchch/saktumiva.git
